@import "compass/css3/transition"
$sans: 'Open Sans', sans-serif



//  --------- CSS RESET ----------

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font: inherit
	vertical-align: baseline
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section
	display: block
body
	line-height: 1
ol, ul
	list-style: none

blockquote, q
	quotes: none

blockquote:before, blockquote:after,
q:before, q:after
	content: ''
	content: none

table
	border-collapse: collapse
	border-spacing: 0

body
	font-family: $sans

a
	text-decoration: none
	color: #898989


// ---------- HEADER CSS --------

#wrapper
	max-width: 940px
	margin: 20px auto 100px auto
	position: relative


#logo
	display: inline-block
	padding: 0 0 0 20px


#menu
	list-style: none
	text-transform: uppercase
	color: #898989
	position: absolute
	top: 30px
	right: 10px
	ul
		list-style: none
	ul:first-child
		padding-left: 0
	ul:last-child
		padding-right: 0
	li
		display: inline-block
		padding: 0 10px
		a
			@include transition(color .2s)
			&:hover
				color: black


// ---------- BODY CSS -----------


.section
	border-top: 1px solid #898989
	margin: 20px auto 60px auto
	.section-header 
		text-transform: uppercase
		letter-spacing: 4px
		font-size: 18px
		text-align: center
		font-weight: bold
		margin: 40px 0 60px

.owl-item
	text-align: center

.item
	display: inline-block
	width: 80%
	height: 100%
	.name
		text-align: center
	img
		max-height: 150px
		padding: 30px 0
		display: block
		margin: auto

	.price
		background: #ccc

		padding: 10px 10px
		width: 50%
		margin: auto
		color: white
		border-radius: 2px


// ------ CAROUSEL CSS --------


.carousel
	max-width: 800px
	margin: auto

.owl-prev, .owl-next
	position: absolute
	top: 80px
	color: #ddd
	font-family: FontAwesome
	display: block
	text-indent: -9999px
	width: 40px
	height: 40px
	background-size: contain
	@include transition(color .25s)
	background-repeat: no-repeat

.owl-prev
	left: -30px
	background-image: url('../img/left-arrow.svg')

.owl-next
	right: -46px
	background-image: url('../img/right-arrow.svg')


// ------- SUGGESTION FORM CSS ------

.suggestion-form
	text-align: center
	display: block
	margin: 40px auto 0
	max-height: 44px
	max-width: 600px
	overflow: hidden
	@include transition(max-height .5s)
	.suggest
		margin-bottom: 20px
		input
			width: 200px
			margin-left: 10px
	input
		border: 1px solid #ccc
		padding: 8px 10px
		border-radius: 5px
		font-size: 14px
	.statement
		padding: 25px 0
		border-top: 1px solid #ccc
		border-bottom: 1px solid #ccc
		margin-bottom: 20px
	.price
		input
			width: 50px
			padding-left: 20px
		.min, .max
			display: inline-block
			position: relative
			.unit
				position: absolute
				left: 6px
				top: 11px
		.min
			margin-right: 5px
		.max
			margin-left: 5px
	select
		background: #eee
		padding: 8px 10px
		border: none
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
		color: #999
		font-size: 14px
		width: 202px
	.brand
		input
			width: 180px
	.left, .right
		width: 48%
		display: inline-block
		margin: 10px 0
	.left
		text-align: right
		margin-right: 5px
	.right
		text-align: left
		margin-left: 5px
	.submit
		margin: 10px auto
		display: block
		background: #ccc
		border: none
		padding: 10px 20px
		border-radius: 2px
		font-size: 16px
		color: white
	.notify
		font-size: 12px
		color: #999
		margin-left: 3px


.activated
	max-height: 400px
	overflow: visible



