doctype html
html
	head
		link(href="css/style.css" type="text/css" rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css')
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		link(href="owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet")
		script(src="owl-carousel/owl.carousel.js")
		script.
			$(document).ready(function(){
				$(".owl-carousel").owlCarousel({
					navigation : true,
					items : 3,
					itemsDesktop : 3,
					itemsDesktopSmall : 3,
					itemsTablet : 3,
					itemsMobile : 3,
					scrollPerPage : true,
					slideSpeed : 300
					});
			});
	body
		#wrapper
			header
				a(id="logo" href="index.html")
					img(src="img/37grove-logo.svg")
				div(id="search-box")
				ul(id="menu")
					li
						a(href="#") How It Works
					li
						a(href="#") Sections
					li
						a(href="#") About
					li
						a(href="#") Log In
			#content
				.section
					h2.section-header Owl Test
					.carousel
						.owl-carousel
							.item
								a(href="#")
									div.name Bluetooth Speaker
									img(src="img/bluetooth-speaker.jpg")
								a(href="#")
									.price $24.47
							.item
								a(href="#")
									div.name GruffPack Battery
									img(src="img/gruffpack.jpg")
								a(href="#")
									.price $24.47
							.item
								a(href="#")
									div.name Boat Shoes
									img(src="img/timberland-classic-two-eye-boat-shoe.jpg")
								a(href="#")
									.price $24.47
							.item
								a(href="#")
									div.name Bluetooth Speaker
									img(src="img/bluetooth-speaker.jpg")
								a(href="#")
									.price $24.47
							.item
								a(href="#")
									div.name Bluetooth Speaker
									img(src="img/bluetooth-speaker.jpg")
								a(href="#")
									.price $24.47
							.item
								a(href="#")
									div.name Bluetooth Speaker
									img(src="img/bluetooth-speaker.jpg")
								a(href="#")
									.price $24.47
							.item
								a(href="#")
									div.name Bluetooth Speaker
									img(src="img/bluetooth-speaker.jpg")
								a(href="#")
									.price $24.47
							.item
								a(href="#")
									div.name GruffPack Battery
									img(src="img/gruffpack.jpg")
								a(href="#")
									.price $24.47
							.item
								a(href="#")
									div.name Boat Shoes
									img(src="img/timberland-classic-two-eye-boat-shoe.jpg")
								a(href="#")
									.price $24.47

						
